.header-title{
  color:#fff;
  font-size: 25px;
  font-weight: bold;
}
.header-height{
  height: 100px;
  display: flex;
  justify-content: center;
}
.body-card{
  padding: 50px;
  display: flex;
  justify-content: center;
}
.box-card-body{
  margin: 10px;
}
.box-card-title{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
